<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
</head>
<body>

<h1>WELLCOME TO MOODLE PAGE</h1>


</body>
<body>
<img src="https://moodle.bradfordcollege.ac.uk/pluginfile.php/43872/mod_label/intro/welcome1.png" alt="https://moodle.bradfordcollege.ac.uk/pluginfile.php/43872/mod_label/intro/welcome1.png" width="708" height="550">
<form>
  MOODLE ID:<br>
  <input type="text" ID="MOODLE ID">
  <br>
  password:<br>
  <input type="text" name="password">
  <br>
  <br>
  Badge:<br>
  <input type="text" Number="Number ">
  <br>
  Enrollment key:<br>
  <input type="text" number="Enrollment">
  <br>
  <br>
  Date Of Enrollment:<br>
  <input type="text" name="Date of Enrollment">
  <br>
  <br>
  Father CNIC number:<br>
  <input type="text" name="Father CNIC number">
  <br>
  <br>
  BIRTHCity:<br>
  <input type="text" name="City">
  <br>
</form>

<head>
  <title>Page Title</title>
</head>
<body>


</body>

<p>Note that the form itself is not visible.</p>

<p>Also note that the default width of a text field is 20 characters.</p>

</body>
</html>